table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a:link,
a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

center {
  padding: 70px 0;
  text-align: center;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: #3ebfda;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.column {
  float: left;
  width: 20%;
  min-width: 200px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.input-group {
  margin-top: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a5a5a5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c0d0dc;
}

error {
  color: red;
}
